<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Заказы</title>
</head>
<body>
<h2 th:text="${title}">Список заказов</h2>
<!--<a href="/addrequest/" type="button" class="btn btn-primary">Добавить заявку</a>-->
<!--<br>-->
<br>
<table class="table" th:with="df='dd.MM.yyyy hh:mm'">
    <thead>
    <tr>
        <th>Название</th>
        <th>Статус</th>
        <th>Начало</th>
        <th>Окончание</th>
        <th>Завершение</th>
        <th>Заказчик</th>
        <th>Исполнитель</th>
        <th>Описание</th>
    </tr>
    </thead>
    <tbody th:each="request: ${requests}">
    <tr>
        <td scope="row" hidden="hidden" th:text="${request.id}">100</td>
        <td th:text="${request.name}">Помочь по дому</td>
        <td th:text="${request.status}">TODO</td>
        <td th:text="${#calendars.format(request.intervalStartTime,df)}">10.02.2021 10:00</td>
        <td th:text="${#calendars.format(request.intervalEndTime,df)}">10.02.2021 15:30</td>
        <td th:text="${#calendars.format(request.completionTime,df)}"></td>
        <td th:text="${request.customer != null}? ${request.customer.name}: ''">Петров Иван</td>
        <td th:text="${request.executor != null}? ${request.executor.name}: ''">Помогаев Степан</td>
        <td th:text="${request.descr}">Нужно помочь с домашними делами</td>
    </tr>
    <tr th:each="task: ${request.taskList}">
        <td colspan="9">
            <ul>
                <li th:text="${task.info}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>